# Xcode / XcodeGen
*.xcodeproj/
DerivedData/
build/
out/
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Test C++ locale di FavOS
FavOS/tests_cpp/*.exe
FavOS/tests_cpp/test_host
